html
    head
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    body(class="container")
        h1 Enrolled Courses:
        table(class = "table table-hover")
            tr
                th Course Name
                th Professor
            for val in enroll
                tr
                    td #{val[0]}
                    td #{val[1]}
        h2 Total credits: #{creds}
        form(action='/choose')
            input(class = "btn btn-primary" type="submit" value ="Enroll New")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
